.group-child3,
.rectangle-icon {
  position: absolute;
  top: 240.44px;
  left: 1114.71px;
  width: 592.65px;
  height: 470.79px;
}
.group-child3 {
  top: 0;
  left: 282.88px;
  width: 1554.2px;
  height: 1086.16px;
}
.div28,
.nh-cung-cp1,
.trang-ch6 {
  position: absolute;
  top: 57px;
  left: 359.65px;
  display: inline-block;
  width: 84px;
  height: 14px;
}
.div28,
.nh-cung-cp1 {
  top: 58px;
  left: 463.65px;
  width: 141.74px;
  height: 13.68px;
}
.div28 {
  left: 440.65px;
  text-align: center;
  width: 12.3px;
  height: 17.8px;
}
.group-child4,
.group-child5 {
  position: absolute;
  top: 73.45px;
  left: 1030.08px;
  background-color: var(--color-gainsboro-100);
  width: 81.46px;
  height: 76.01px;
}
.group-child5 {
  top: 54.45px;
  left: 1342.06px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-200);
  width: 380.4px;
  height: 49.41px;
  cursor: pointer;
}
.image-44-icon,
.thm-nh-cung {
  position: absolute;
  height: 32.64px;
}
.thm-nh-cung {
  top: 65.09px;
  left: 1442.25px;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  display: inline-block;
  width: 271.73px;
  cursor: pointer;
}
.image-44-icon {
  top: 64.39px;
  left: 1358.16px;
  width: 47.95px;
  object-fit: cover;
}
.group-child6 {
  position: absolute;
  top: 0;
  left: 399.84px;
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  width: 1388.12px;
  height: 240.69px;
}
.b01,
.div29,
.quc-phan,
.showing-1-to {
  position: absolute;
  top: 283.36px;
  left: 0;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 13.05px;
  height: 12.7px;
}
.b01,
.quc-phan,
.showing-1-to {
  top: 136.64px;
  left: 468.96px;
  width: 136.2px;
}
.quc-phan,
.showing-1-to {
  top: 136.58px;
  left: 850.77px;
}
.showing-1-to {
  top: 208.22px;
  left: 1530.03px;
  width: 226.73px;
}
.image-57-icon {
  position: absolute;
  top: 73.38px;
  left: 402.08px;
  width: 1388.12px;
  height: 34.42px;
  object-fit: cover;
}
.search {
  position: absolute;
  top: 11.34px;
  left: 19.45px;
  display: none;
  width: 94.47px;
  height: 9.34px;
}
.group-child7 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 277.06px;
  height: 38.01px;
}
.group-child8,
.search-parent {
  position: absolute;
  top: 19.72px;
  left: 429.72px;
  width: 275.06px;
  height: 36.01px;
}
.group-child8 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-honeydew);
  width: 100.95px;
  height: 20.01px;
}
.public {
  position: absolute;
  top: 3.04px;
  left: 15.77px;
  display: inline-block;
  width: 69.46px;
  height: 10.67px;
}
.rectangle-parent1 {
  position: absolute;
  top: 133.02px;
  left: 1287.05px;
  width: 100.95px;
  height: 20.01px;
  font-size: var(--font-size-mini);
  color: var(--color-mediumaquamarine);
}
.div30,
.div31,
.m-nh-cung,
.tn-nh-cung,
.trng-thi {
  position: absolute;
  top: 82.32px;
  left: 438px;
  display: inline-block;
  width: 141.1px;
  height: 9.59px;
}
.div30,
.div31,
.tn-nh-cung,
.trng-thi {
  top: 80.57px;
  left: 1300.46px;
  width: 94.61px;
  height: 9.38px;
}
.div30,
.div31,
.tn-nh-cung {
  top: 82.08px;
  left: 833.65px;
  width: 174px;
  height: 22px;
}
.div30,
.div31 {
  top: 80.12px;
  left: 797.26px;
  font-size: var(--font-size-6xl);
  width: 23.65px;
  height: 19.87px;
}
.div31 {
  top: 79.81px;
  left: 1267.34px;
  width: 22.84px;
}
.group-child9 {
  position: absolute;
  top: -0.92px;
  left: 400.65px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 1394px;
  height: 243px;
}
.div32 {
  position: absolute;
  top: 143.02px;
  left: 1699.51px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 13.8px;
  height: 21.21px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.line-div {
  position: absolute;
  top: 187.3px;
  left: 401.58px;
  border-top: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 1389.12px;
  height: 1px;
}
.per-page {
  position: absolute;
  top: 32.08px;
  left: 1599.65px;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray-200);
  display: inline-block;
  width: 77px;
  height: 27px;
}
.group-child10 {
  position: absolute;
  top: 27.78px;
  left: 1675.71px;
  border-radius: var(--br-8xs);
  width: 53.91px;
  height: 23.97px;
}
.action,
.div33 {
  position: absolute;
  display: inline-block;
}
.div33 {
  top: 34.08px;
  left: 1685.65px;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray-200);
  width: 43px;
  height: 11px;
}
.action {
  top: 81.33px;
  left: 1699.51px;
  width: 94.61px;
  height: 9.38px;
}
.group-div,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1794.12px;
  height: 296.05px;
}
.group-wrapper {
  top: 296.92px;
  font-size: var(--font-size-mid);
}
.image-94-icon,
.nh-cung-cp-inner,
.vector-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1837.08px;
  height: 1086.16px;
}
.image-94-icon,
.nh-cung-cp-inner {
  left: 0.35px;
}
.image-94-icon {
  top: 16px;
  left: 292px;
  width: 59px;
  height: 82px;
  object-fit: cover;
}
.group-child11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-goldenrod);
  width: 283.11px;
  height: 1086.16px;
}
.trang-ch7 {
  position: absolute;
  top: 39.04px;
  left: 93.43px;
  display: inline-block;
  width: 147.61px;
  height: 16.1px;
  cursor: pointer;
}
.qun-l-hng1 {
  margin: 0;
}
.qun-l-hng-container1,
.qun-l-xut-container1 {
  position: absolute;
  top: 80.7px;
  left: 93.43px;
  display: inline-block;
  width: 146.64px;
  height: 21.78px;
  cursor: pointer;
}
.qun-l-xut-container1 {
  top: 174.45px;
  left: 94.38px;
  height: 20.83px;
}
.qun-l-nhp1 {
  top: 220.85px;
  left: 94.38px;
  cursor: pointer;
}
.qun-l-loi-container1,
.qun-l-nh1,
.qun-l-nhp1,
.qun-l-ti1,
.thng-k1 {
  position: absolute;
  display: inline-block;
  width: 146.64px;
  height: 16.1px;
}
.qun-l-nh1 {
  top: 262.52px;
  left: 94.38px;
  color: var(--color-white);
}
.qun-l-loi-container1,
.qun-l-ti1,
.thng-k1 {
  top: 304.19px;
  left: 95.34px;
  cursor: pointer;
}
.qun-l-loi-container1,
.qun-l-ti1 {
  top: 345.85px;
  height: 17.05px;
}
.qun-l-loi-container1 {
  top: 128.05px;
  left: 93.43px;
  width: 127.21px;
  height: 17.99px;
}
.rectangle-parent2 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 283.11px;
  height: 1086.16px;
  font-size: var(--font-size-xs);
}
.nh-cung-cp {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1086.65px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
