.qun-l-kho3 {
  position: absolute;
  top: 16px;
  left: 347px;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue);
  display: inline-block;
  width: 167px;
  height: 36px;
}
.div164,
.div165,
.qun-l-hng20,
.qun-l-kho4,
.trang-ch41 {
  position: absolute;
  top: 61px;
  left: 343px;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 102px;
  height: 19px;
}
.div164,
.div165,
.qun-l-hng20,
.qun-l-kho4 {
  left: 444px;
  width: 130px;
  height: 18px;
}
.div164,
.div165,
.qun-l-kho4 {
  left: 601px;
  width: 101px;
}
.div164,
.div165 {
  left: 424px;
  text-align: center;
  width: 12px;
  height: 24px;
}
.div165 {
  left: 580px;
}
.qun-l-hng-ha-child {
  position: absolute;
  top: 42px;
  left: 1623px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-200);
  width: 168px;
  height: 62px;
}
.image-56-icon11 {
  position: absolute;
  top: 51px;
  left: 1631px;
  width: 39px;
  height: 43px;
  object-fit: cover;
}
.import9 {
  position: absolute;
  top: 61px;
  left: 1696px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  display: inline-block;
  width: 73px;
  height: 19px;
}
.qun-l-hng-ha-item {
  position: absolute;
  top: 42px;
  left: 1808px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-200);
  width: 224px;
  height: 62px;
}
.b31,
.thm-hng-ha1 {
  position: absolute;
  top: 61px;
  left: 1873px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  display: inline-block;
  width: 172px;
  height: 19px;
}
.b31 {
  top: 46px;
  left: 1823px;
  font-size: var(--font-size-13xl);
  text-align: center;
  width: 50px;
  height: 48px;
}
.qun-l-hng-ha-inner {
  position: absolute;
  top: 254px;
  left: 276px;
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  width: 1769px;
  height: 434px;
}
.ci-qun-qu,
.ci3,
.div166,
.div167,
.showing-1-to13,
.sp0015,
.thc-phm4 {
  position: absolute;
  top: 498px;
  left: 304px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 16px;
  height: 23px;
}
.ci-qun-qu,
.ci3,
.div167,
.showing-1-to13,
.sp0015,
.thc-phm4 {
  left: 440px;
  width: 174px;
}
.ci-qun-qu,
.ci3,
.div167,
.showing-1-to13,
.thc-phm4 {
  left: 713px;
  width: 173px;
}
.ci3,
.div167,
.showing-1-to13,
.thc-phm4 {
  left: 1070px;
  width: 63px;
}
.ci3,
.showing-1-to13,
.thc-phm4 {
  left: 1216px;
  width: 62px;
}
.showing-1-to13,
.thc-phm4 {
  left: 1438px;
  width: 185px;
}
.showing-1-to13 {
  top: 628px;
  left: 1714px;
  width: 289px;
}
.image-57-icon6 {
  position: absolute;
  top: 384px;
  left: 276px;
  width: 1769px;
  height: 62px;
  object-fit: cover;
}
.search9 {
  position: absolute;
  top: 20.42px;
  left: 24.78px;
  display: none;
  width: 120.37px;
  height: 16.82px;
}
.group-child197 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 352.48px;
  height: 66.86px;
}
.group-child198,
.search-parent2 {
  position: absolute;
  top: 287.5px;
  left: 311.54px;
  width: 350.48px;
  height: 64.86px;
}
.group-child198 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-honeydew);
  width: 128.63px;
  height: 36.03px;
}
.cn-hng3 {
  position: absolute;
  top: 8.41px;
  left: 20.06px;
  display: inline-block;
  width: 88.5px;
  height: 19.22px;
}
.rectangle-parent62 {
  position: absolute;
  top: 491.69px;
  left: 1670.96px;
  width: 128.63px;
  height: 36.03px;
  font-size: var(--font-size-mini);
  color: var(--color-mediumaquamarine);
}
.hnh-ng18,
.loi-hng3,
.m-hng4,
.n-v3,
.sl2,
.stt11,
.tn-hng4,
.trng-thi4 {
  position: absolute;
  top: 405px;
  left: 300px;
  display: inline-block;
  width: 120px;
  height: 15px;
}
.hnh-ng18,
.loi-hng3,
.m-hng4,
.n-v3,
.sl2,
.tn-hng4,
.trng-thi4 {
  left: 465px;
}
.hnh-ng18,
.loi-hng3,
.n-v3,
.sl2,
.tn-hng4,
.trng-thi4 {
  left: 1679px;
}
.hnh-ng18,
.loi-hng3,
.n-v3,
.sl2,
.tn-hng4 {
  left: 1897px;
  width: 121px;
}
.loi-hng3,
.n-v3,
.sl2,
.tn-hng4 {
  left: 1457px;
  width: 120px;
}
.n-v3,
.sl2,
.tn-hng4 {
  left: 1088px;
}
.n-v3,
.tn-hng4 {
  left: 1244px;
}
.tn-hng4 {
  left: 677px;
}
.div168,
.div169,
.div170,
.div171,
.div172,
.div173,
.div174 {
  position: absolute;
  top: 400px;
  left: 383px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  width: 29px;
  height: 36px;
}
.div169,
.div170,
.div171,
.div172,
.div173,
.div174 {
  left: 595px;
  width: 30px;
}
.div170,
.div171,
.div172,
.div173,
.div174 {
  left: 1161px;
}
.div171,
.div172,
.div173,
.div174 {
  left: 1398px;
}
.div172,
.div173,
.div174 {
  left: 1633px;
}
.div173,
.div174 {
  left: 1821px;
  width: 29px;
}
.div174 {
  left: 1025px;
}
.qun-l-hng-ha-child1 {
  position: absolute;
  top: 253px;
  left: 275px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 1771px;
  height: 436px;
}
.qun-l-hng-ha-child2 {
  position: absolute;
  top: 470px;
  left: 625px;
  background-color: var(--color-gainsboro-100);
  width: 71px;
  height: 72px;
}
.div175 {
  position: absolute;
  top: 510px;
  left: 1957px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 25px;
  height: 28px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.qun-l-hng-ha-child3 {
  position: absolute;
  top: 589.5px;
  left: 275.5px;
  border-top: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 1770px;
  height: 1px;
}
.group-child199,
.qun-l-hng-ha-inner1 {
  position: absolute;
  top: 0;
  width: 1789px;
  height: 1151px;
}
.group-child199 {
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.qun-l-hng-ha-inner1 {
  left: 256px;
}
.qun-l-hng-ha-child4 {
  position: absolute;
  top: 446px;
  left: 795px;
  background-color: var(--color-white);
  width: 650px;
  height: 449px;
}
.thnh-cng {
  position: absolute;
  top: 650px;
  left: 981px;
  font-size: 40px;
  color: var(--color-midnightblue);
  display: inline-block;
  width: 285px;
  height: 75px;
}
.image-59-icon {
  position: absolute;
  top: 487px;
  left: 1061px;
  width: 118px;
  height: 125px;
  object-fit: cover;
}
.qun-l-hng-ha-child5 {
  position: absolute;
  top: 787px;
  left: 1070px;
  border-radius: var(--br-8xs);
  width: 99px;
  height: 63px;
}
.nhp-sn-phm,
.ok {
  position: absolute;
  display: inline-block;
}
.ok {
  top: 808px;
  left: 1105px;
  font-size: var(--font-size-base);
  color: var(--color-white);
  width: 31px;
  height: 22px;
  cursor: pointer;
}
.nhp-sn-phm {
  top: 734px;
  left: 987px;
  width: 268px;
  height: 35px;
}
.image-97-icon {
  position: absolute;
  top: 12px;
  left: 270px;
  width: 59px;
  height: 82px;
  object-fit: cover;
}
.group-child200 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-goldenrod);
  width: 256.07px;
  height: 1151px;
}
.trang-ch42 {
  position: absolute;
  top: 37.13px;
  left: 104.73px;
  display: inline-block;
  width: 133.51px;
  height: 17.06px;
  cursor: pointer;
}
.qun-l-hng21 {
  margin: 0;
}
.qun-l-hng-container20 {
  position: absolute;
  top: 81.28px;
  left: 104.73px;
  color: var(--color-white);
  display: inline-block;
  width: 132.63px;
  height: 23.08px;
  cursor: pointer;
}
.qun-l-loi-container20,
.qun-l-nh18,
.qun-l-nhp29,
.qun-l-ti22,
.qun-l-xut-container20,
.thng-k23 {
  position: absolute;
  top: 180.63px;
  left: 105.6px;
  display: inline-block;
  width: 132.63px;
  height: 22.08px;
  cursor: pointer;
}
.qun-l-loi-container20,
.qun-l-nh18,
.qun-l-nhp29,
.qun-l-ti22,
.thng-k23 {
  top: 229.8px;
  height: 17.06px;
}
.qun-l-loi-container20,
.qun-l-nh18,
.qun-l-ti22,
.thng-k23 {
  top: 273.95px;
}
.qun-l-loi-container20,
.qun-l-ti22,
.thng-k23 {
  top: 318.11px;
  left: 106.46px;
}
.qun-l-loi-container20,
.qun-l-ti22 {
  top: 362.26px;
  height: 18.06px;
}
.qun-l-loi-container20 {
  top: 131px;
  left: 105px;
  width: 123px;
  height: 20px;
}
.rectangle-parent63 {
  position: absolute;
  top: 0;
  left: 0;
  width: 256.07px;
  height: 1151px;
  font-size: var(--font-size-xs);
}
.qun-l-hng-ha2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1151px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-inter);
}
