.qun-l-loi-hng-ha-child,
.thng-tin1 {
  position: absolute;
  top: 0;
  left: 2044px;
  width: 0;
  height: 0;
}
.thng-tin1 {
  top: 14px;
  left: 365px;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue);
  display: inline-block;
  width: 160px;
  height: 35px;
}
.div93,
.div94,
.qun-l-loi9,
.thc-phm1,
.trang-ch18 {
  position: absolute;
  top: 58px;
  left: 360px;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 98px;
  height: 16px;
}
.div93,
.div94,
.qun-l-loi9,
.thc-phm1 {
  left: 474px;
  width: 140px;
}
.div93,
.div94,
.thc-phm1 {
  left: 651px;
}
.div93,
.div94 {
  left: 451px;
  text-align: center;
  width: 11px;
  height: 21px;
}
.div94 {
  left: 616px;
}
.qun-l-loi-hng-ha-item {
  position: absolute;
  top: 39px;
  left: 1791px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-200);
  width: 216px;
  height: 59px;
}
.sa-loi-hng {
  position: absolute;
  top: 58px;
  left: 1872px;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  display: inline-block;
  width: 166px;
  height: 16px;
}
.ci1,
.div95,
.div96,
.div97,
.showing-1-to3,
.sp0013,
.thc-phm2 {
  position: absolute;
  top: 459.79px;
  left: 343px;
  display: inline-block;
  width: 16px;
  height: 22.5px;
}
.ci1,
.div96,
.div97,
.showing-1-to3,
.sp0013,
.thc-phm2 {
  left: 475px;
  width: 167px;
}
.ci1,
.div96,
.div97,
.showing-1-to3,
.thc-phm2 {
  left: 737px;
}
.ci1,
.div97,
.showing-1-to3,
.thc-phm2 {
  left: 1081px;
  width: 60px;
}
.ci1,
.showing-1-to3,
.thc-phm2 {
  left: 1221px;
}
.showing-1-to3,
.thc-phm2 {
  left: 1435px;
  width: 177px;
}
.showing-1-to3 {
  top: 674px;
  left: 1732px;
  width: 278px;
}
.image-57-icon5 {
  position: absolute;
  top: 348px;
  left: 317px;
  width: 1702px;
  height: 61px;
  object-fit: cover;
}
.search3 {
  position: absolute;
  top: 20.09px;
  left: 23.85px;
  display: inline-block;
  width: 115.83px;
  height: 16.55px;
}
.group-child60 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 339.26px;
  height: 65.82px;
}
.search-parent1 {
  position: absolute;
  top: 252.91px;
  left: 350.89px;
  width: 337.26px;
  height: 63.82px;
  font-size: var(--font-size-mid);
}
.group-child61 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-honeydew);
  width: 105.95px;
  height: 35.45px;
}
.cn-hng2 {
  position: absolute;
  top: 8.27px;
  left: 16.53px;
  display: inline-block;
  width: 72.9px;
  height: 18.91px;
}
.rectangle-parent21 {
  position: absolute;
  top: 453.82px;
  left: 1659.05px;
  width: 105.95px;
  height: 35.45px;
  font-size: var(--font-size-mini);
  color: var(--color-mediumaquamarine);
}
.hnh-ng3,
.loi-hng2,
.m-hng3,
.n-v2,
.sl1,
.stt4,
.tn-hng3,
.trng-thi3 {
  position: absolute;
  top: 367.83px;
  left: 340px;
  font-size: var(--font-size-mid);
  display: inline-block;
  width: 115px;
  height: 16.63px;
}
.hnh-ng3,
.loi-hng2,
.m-hng3,
.n-v2,
.sl1,
.tn-hng3,
.trng-thi3 {
  left: 499px;
}
.hnh-ng3,
.loi-hng2,
.n-v2,
.sl1,
.tn-hng3,
.trng-thi3 {
  left: 1667px;
  width: 116px;
}
.hnh-ng3,
.loi-hng2,
.n-v2,
.sl1,
.tn-hng3 {
  left: 1877px;
}
.loi-hng2,
.n-v2,
.sl1,
.tn-hng3 {
  left: 1454px;
  width: 115px;
}
.n-v2,
.sl1,
.tn-hng3 {
  left: 1098px;
  width: 116px;
}
.n-v2,
.tn-hng3 {
  left: 1248px;
}
.tn-hng3 {
  left: 703px;
}
.div100,
.div101,
.div102,
.div103,
.div104,
.div98,
.div99 {
  position: absolute;
  top: 362.94px;
  left: 419px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  width: 28px;
  height: 35.22px;
}
.div100,
.div101,
.div102,
.div103,
.div104,
.div99 {
  left: 623px;
  width: 29px;
}
.div100,
.div101,
.div102,
.div103,
.div104 {
  left: 1168px;
}
.div101,
.div102,
.div103,
.div104 {
  left: 1397px;
  width: 28px;
}
.div102,
.div103,
.div104 {
  left: 1623px;
}
.div103,
.div104 {
  left: 1803px;
  width: 29px;
}
.div104 {
  left: 1037px;
  width: 28px;
}
.qun-l-loi-hng-ha-inner {
  position: absolute;
  top: 219px;
  left: 316px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 1704px;
  height: 498px;
}
.qun-l-loi-hng-ha-child1 {
  position: absolute;
  top: 432.4px;
  left: 653px;
  background-color: var(--color-gainsboro-100);
  width: 68px;
  height: 71.41px;
}
.div105 {
  position: absolute;
  top: 471.53px;
  left: 1935px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 24.46px;
  height: 26px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.ci2,
.div106,
.div107,
.div108,
.sp0021,
.thc-phm3 {
  position: absolute;
  top: 578.39px;
  left: 343px;
  display: inline-block;
  width: 16px;
  height: 22.5px;
}
.ci2,
.div107,
.div108,
.sp0021,
.thc-phm3 {
  left: 475px;
  width: 167px;
}
.ci2,
.div107,
.div108,
.thc-phm3 {
  left: 737px;
}
.ci2,
.div108,
.thc-phm3 {
  left: 1081px;
  width: 60px;
}
.ci2,
.thc-phm3 {
  left: 1221px;
}
.thc-phm3 {
  left: 1435px;
  width: 177px;
}
.group-child62 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #f9d5d5;
  width: 105.95px;
  height: 35.45px;
}
.ht-hng1 {
  position: absolute;
  top: 8.27px;
  left: 17.38px;
  display: inline-block;
  width: 72.9px;
  height: 18.91px;
}
.rectangle-parent22 {
  position: absolute;
  top: 572.42px;
  left: 1659.05px;
  width: 105.95px;
  height: 35.45px;
  font-size: var(--font-size-mini);
  color: #be4949;
}
.qun-l-loi-hng-ha-child2 {
  position: absolute;
  top: 551px;
  left: 653px;
  background-color: var(--color-gainsboro-100);
  width: 68px;
  height: 71.41px;
}
.div109 {
  position: absolute;
  top: 590.13px;
  left: 1935px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 24.46px;
  height: 26px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.qun-l-loi-hng-ha-child3,
.qun-l-loi-hng-ha-child4 {
  position: absolute;
  top: 528.5px;
  left: 316.5px;
  border-top: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 1703px;
  height: 1px;
}
.qun-l-loi-hng-ha-child4 {
  top: 645.5px;
}
.image-44-icon2,
.image-91-icon {
  position: absolute;
  top: 48px;
  left: 1801px;
  width: 58.87px;
  height: 42.94px;
  object-fit: cover;
}
.image-91-icon {
  top: 18px;
  left: 296px;
  width: 59px;
  height: 82px;
}
.group-child63 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-goldenrod);
  width: 292px;
  height: 1147px;
}
.trang-ch19 {
  position: absolute;
  top: 37px;
  left: 114.27px;
  display: inline-block;
  width: 152.25px;
  height: 17px;
  cursor: pointer;
}
.qun-l-hng8 {
  margin: 0;
}
.qun-l-hng-container8 {
  position: absolute;
  top: 81px;
  left: 114.27px;
  display: inline-block;
  width: 151.24px;
  height: 23px;
  cursor: pointer;
}
.qun-l-loi-container8,
.qun-l-nh6,
.qun-l-nhp8,
.qun-l-ti8,
.qun-l-xut-container8,
.thng-k11 {
  position: absolute;
  top: 180px;
  left: 115.26px;
  display: inline-block;
  width: 151.24px;
  height: 22px;
  cursor: pointer;
}
.qun-l-loi-container8,
.qun-l-nh6,
.qun-l-nhp8,
.qun-l-ti8,
.thng-k11 {
  top: 229px;
  height: 17px;
}
.qun-l-loi-container8,
.qun-l-nh6,
.qun-l-ti8,
.thng-k11 {
  top: 273px;
}
.qun-l-loi-container8,
.qun-l-ti8,
.thng-k11 {
  top: 317px;
  left: 116.24px;
}
.qun-l-loi-container8,
.qun-l-ti8 {
  top: 361px;
  height: 18px;
}
.qun-l-loi-container8 {
  top: 131px;
  left: 114.27px;
  color: var(--color-white);
  width: 131.2px;
  height: 19px;
}
.rectangle-parent23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 292px;
  height: 1147px;
  font-size: var(--font-size-xs);
}
.qun-l-loi-hng-ha1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1147px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
