.qun-l-nhp12,
.qun-l-xut-kho-export-child {
  position: absolute;
  top: 39px;
  left: 305px;
  width: 1135px;
  height: 985px;
}
.qun-l-nhp12 {
  left: 416px;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue);
  display: inline-block;
  width: 322px;
  height: 36px;
}
.div120,
.div121,
.qun-l-xut12,
.trang-ch25,
.xut-kho1 {
  position: absolute;
  top: 75px;
  left: 416px;
  display: inline-block;
  width: 121px;
  height: 18px;
}
.div120,
.div121,
.qun-l-xut12,
.xut-kho1 {
  left: 511px;
  width: 130px;
  height: 20px;
}
.div120,
.div121,
.xut-kho1 {
  left: 665px;
  width: 174px;
  height: 17px;
}
.div120,
.div121 {
  left: 645px;
  text-align: center;
  width: 14px;
  height: 23px;
}
.div121 {
  left: 493px;
}
.qun-l-xut-kho-export-item {
  position: absolute;
  top: 200px;
  left: 1452px;
  border-radius: var(--br-mid);
  background-color: var(--color-white);
  width: 555px;
  height: 633px;
}
.qun-l-xut-kho-export-inner {
  position: absolute;
  top: 562px;
  left: 1641px;
  border-radius: var(--br-8xs);
  width: 163px;
  height: 63px;
}
.in-t,
.loi-hng-ha1,
.nh-ba,
.thay-i {
  position: absolute;
  top: 686px;
  left: 1483px;
  display: inline-block;
  width: 121px;
  height: 18px;
}
.in-t,
.nh-ba,
.thay-i {
  top: 764px;
  left: 1514px;
}
.nh-ba,
.thay-i {
  top: 221px;
  left: 1483px;
}
.thay-i {
  top: 582px;
  left: 1678px;
  font-size: var(--font-size-base);
  color: var(--color-white);
  width: 90px;
  height: 23px;
}
.qun-l-xut-kho-export-child1,
.qun-l-xut-kho-export-child2 {
  position: absolute;
  top: 266px;
  left: 1494px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 471px;
  height: 377px;
}
.qun-l-xut-kho-export-child2 {
  top: 740px;
  left: 1483px;
  width: 472px;
  height: 72px;
}
.image-61-icon,
.image-62-icon {
  position: absolute;
  top: 764px;
  left: 1896px;
  width: 30px;
  height: 24px;
  object-fit: cover;
}
.image-62-icon {
  left: 1872px;
  width: 16px;
}
.group-child77 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mid);
  width: 1135px;
  height: 596px;
}
.m-phiu-xut {
  margin: 0;
}
.m-phiu-xut-container {
  position: absolute;
  top: 49.47px;
  left: 36.94px;
  display: inline-block;
  width: 135.44px;
  height: 14.13px;
}
.chi-tit2,
.div122,
.div123,
.div124,
.ia-ch,
.khch-hng,
.mt01,
.ngy-xut-kho {
  position: absolute;
  top: 52.61px;
  left: 597.72px;
  display: inline-block;
  width: 135.44px;
  height: 13.35px;
}
.chi-tit2,
.div122,
.div123,
.div124,
.ia-ch,
.khch-hng,
.mt01 {
  top: 171.97px;
  left: 36.94px;
}
.chi-tit2,
.div122,
.div123,
.div124,
.ia-ch,
.mt01 {
  top: 174.61px;
  left: 597.8px;
}
.chi-tit2,
.div122,
.div123,
.div124,
.mt01 {
  top: 288.18px;
  left: 36.94px;
  height: 14.13px;
}
.div122,
.div123,
.div124,
.mt01 {
  top: 104.44px;
  left: 62.68px;
  width: 295.5px;
  height: 32.07px;
}
.div122,
.div123,
.div124 {
  top: 392.62px;
  height: 14.13px;
}
.div123,
.div124 {
  top: 104.44px;
  left: 630.18px;
  width: 411.91px;
}
.div124 {
  top: 217.51px;
  left: 62.68px;
  width: 295.5px;
  height: 13.35px;
}
.group-child78,
.group-child79 {
  position: absolute;
  box-sizing: border-box;
}
.group-child78 {
  top: 87.95px;
  left: 36.94px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-gray-700);
  width: 496.98px;
  height: 47.11px;
}
.group-child79 {
  top: 202.23px;
  left: 36.98px;
  width: 497.14px;
  height: 47.22px;
}
.group-child79,
.group-child80,
.group-child81 {
  border-radius: var(--br-base);
  border: 1px solid var(--color-gray-700);
}
.group-child80 {
  position: absolute;
  top: 199.56px;
  left: 597.8px;
  box-sizing: border-box;
  width: 497.14px;
  height: 47.22px;
}
.group-child81 {
  top: 325.88px;
  left: 38.06px;
  width: 1074.56px;
  height: 249.71px;
}
.group-child81,
.group-child82,
.group-child83 {
  position: absolute;
  box-sizing: border-box;
}
.group-child82 {
  top: 87.95px;
  left: 597.72px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-gray-700);
  width: 496.98px;
  height: 47.11px;
}
.group-child83 {
  top: 375.63px;
  left: 37.56px;
  border-top: 1px solid var(--color-gray-700);
  width: 1076.68px;
  height: 1px;
}
.image-43-icon,
.image-63-icon {
  position: absolute;
  top: 338.44px;
  left: 55.97px;
  width: 420.87px;
  height: 23.56px;
  object-fit: cover;
}
.image-43-icon {
  top: 99.78px;
  left: 1042.56px;
  width: 36.31px;
  height: 25.63px;
}
.vector-parent2 {
  position: absolute;
  top: 108px;
  left: 305px;
  width: 1135px;
  height: 596px;
}
.group-child84 {
  top: 0;
  left: -0.3px;
  background-color: var(--color-white);
  border-right: 0.3px solid var(--color-gray-100);
  border-bottom: 0.3px solid var(--color-gray-100);
  border-left: 0.3px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 1030.62px;
  height: 131.07px;
}
.group-child84,
.group-child85,
.vector-icon {
  position: absolute;
  border-radius: var(--br-8xs);
}
.vector-icon {
  top: 90.56px;
  left: 0;
  width: 1030.02px;
  height: 0.99px;
}
.group-child85 {
  right: -0.3px;
  bottom: 96.32px;
  background-color: var(--color-whitesmoke-100);
  border-right: 0.3px solid var(--color-dimgray-100);
  border-bottom: 0.3px solid var(--color-dimgray-100);
  border-left: 0.3px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 1030.62px;
  height: 32.99px;
}
.group-wrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1031px;
  height: 130.77px;
}
.group-child86,
.group-child87,
.group-child88,
.group-child89,
.group-child90,
.group-child91 {
  position: absolute;
  top: 43.7px;
  left: 10.7px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 0.3px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 120.6px;
  height: 30.6px;
}
.group-child87,
.group-child88,
.group-child89,
.group-child90,
.group-child91 {
  top: 42.7px;
  left: 573.7px;
}
.group-child88,
.group-child89,
.group-child90,
.group-child91 {
  left: 720.7px;
}
.group-child89,
.group-child90,
.group-child91 {
  top: 43.7px;
  left: 437.7px;
}
.group-child90,
.group-child91 {
  top: 42.7px;
  left: 294.7px;
}
.group-child91 {
  top: 43.7px;
  left: 153.7px;
}
.s-lng3 {
  position: absolute;
  top: 11.46px;
  left: 194.44px;
  display: inline-block;
  width: 73.57px;
  height: 9.21px;
}
.gi,
.hnh-ng5,
.m-tn,
.ngy-xut-kho1,
.nsx,
.thnh-tin2 {
  position: absolute;
  top: 11px;
  left: 580px;
  display: inline-block;
  width: 100px;
  height: 12px;
}
.gi,
.hnh-ng5,
.m-tn,
.nsx,
.thnh-tin2 {
  top: 9px;
  left: 731px;
}
.gi,
.hnh-ng5,
.m-tn,
.nsx {
  top: 11px;
  left: 315px;
  width: 98.1px;
  height: 9.21px;
}
.hnh-ng5,
.m-tn,
.nsx {
  top: 12px;
  left: 460px;
  width: 70.63px;
}
.hnh-ng5,
.m-tn {
  top: 11.46px;
  left: 909.26px;
  width: 73.57px;
}
.m-tn {
  top: 10.59px;
  left: 27.51px;
  width: 106.05px;
  height: 10.46px;
}
.image-43-icon1,
.image-44-icon4 {
  position: absolute;
  top: 45px;
  left: 530px;
  width: 35.35px;
  height: 28.77px;
  object-fit: cover;
}
.image-44-icon4 {
  left: 659px;
}
.b6,
.b7,
.b8,
.pn001 {
  position: absolute;
  top: 54px;
  left: 309px;
  display: inline-block;
  color: var(--color-black);
  width: 98px;
  height: 16px;
}
.b7,
.b8,
.pn001 {
  top: 51px;
  left: 211px;
  width: 39px;
  height: 19px;
}
.b8,
.pn001 {
  top: 53px;
  left: 48px;
  width: 70px;
  height: 17px;
}
.b8 {
  top: 52px;
  left: 750px;
  width: 106px;
  height: 15px;
}
.group-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1031px;
  height: 130.77px;
  color: var(--color-dimgray-200);
}
.ddmmyyyy,
.ddmmyyyy1,
.thm {
  position: absolute;
  display: inline-block;
}
.thm {
  top: 115.21px;
  left: 485.08px;
  color: var(--color-white);
  width: 125.68px;
  height: 21.79px;
}
.ddmmyyyy,
.ddmmyyyy1 {
  top: 49px;
  left: 440px;
  width: 91px;
  height: 18px;
}
.ddmmyyyy1 {
  top: 50px;
  left: 574px;
}
.group-child92 {
  position: absolute;
  top: 41px;
  left: 909px;
  border-radius: var(--br-8xs);
  width: 66px;
  height: 30px;
}
.xa {
  position: absolute;
  top: 47px;
  left: 925px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 41px;
  height: 20px;
}
.group-parent3,
.qun-l-xut-kho-export-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1031px;
  height: 137px;
}
.qun-l-xut-kho-export-inner1 {
  top: 789px;
  left: 362px;
  font-size: var(--font-size-xs);
}
.image-1-icon4 {
  position: absolute;
  top: 6px;
  left: 1401px;
  width: 29px;
  height: 26px;
  object-fit: cover;
}
.group-child93 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-200);
  width: 178px;
  height: 39px;
}
.image-56-icon2 {
  position: absolute;
  top: 5.2px;
  left: 8.73px;
  width: 41.5px;
  height: 27.95px;
  object-fit: cover;
}
.export {
  position: absolute;
  top: 12px;
  left: 73px;
  display: inline-block;
  width: 76.44px;
  height: 11.05px;
}
.rectangle-parent31 {
  position: absolute;
  top: 716px;
  left: 1032px;
  width: 178px;
  height: 39px;
  color: var(--color-white);
}
.qun-l-xut-kho-export-child3 {
  position: absolute;
  top: 714px;
  left: 1245px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-200);
  width: 164px;
  height: 41px;
}
.b9,
.nhp-kho1 {
  position: absolute;
  top: 726px;
  left: 1300px;
  color: var(--color-white);
  display: inline-block;
  width: 90px;
  height: 17px;
}
.b9 {
  top: 714px;
  left: 1249px;
  font-size: var(--font-size-13xl);
  text-align: center;
  width: 47px;
  height: 48px;
}
.group-child94 {
  position: absolute;
  top: -0.3px;
  left: -0.3px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 0.3px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 313.6px;
  height: 30.6px;
}
.search4 {
  position: absolute;
  top: 8px;
  left: 9px;
  display: inline-block;
  width: 71px;
  height: 14px;
}
.rectangle-parent32 {
  position: absolute;
  top: 743px;
  left: 364px;
  width: 313px;
  height: 30px;
  color: var(--color-dimgray-200);
}
.image-26-icon {
  position: absolute;
  top: 742px;
  left: 648px;
  border-radius: var(--br-xs);
  width: 29px;
  height: 30px;
  object-fit: cover;
}
.group-child95 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mid);
  width: 834px;
  height: 791px;
}
.m-phiu-xut-container1,
.ngy-xut-kho2 {
  position: absolute;
  top: 66px;
  left: 27px;
  display: inline-block;
  width: 127px;
  height: 18px;
}
.ngy-xut-kho2 {
  top: 70px;
  left: 439px;
  width: 146px;
}
.a-ch2,
.chi-tit3,
.div125,
.div126,
.div127,
.div128,
.khch-hng1,
.mt012 {
  position: absolute;
  top: 228.23px;
  left: 27.14px;
  display: inline-block;
  width: 99.52px;
  height: 17.72px;
}
.a-ch2,
.chi-tit3,
.div125,
.div126,
.div127,
.div128,
.mt012 {
  top: 230px;
  left: 439px;
}
.chi-tit3,
.div125,
.div126,
.div127,
.div128,
.mt012 {
  top: 382.47px;
  left: 27.14px;
  height: 18.76px;
}
.div125,
.div126,
.div127,
.div128,
.mt012 {
  top: 138.61px;
  left: 46.06px;
  width: 217.14px;
}
.div125,
.div126,
.div127,
.div128 {
  top: 521.08px;
}
.div126,
.div127,
.div128 {
  top: 138.61px;
  left: 463.06px;
  width: 302.67px;
}
.div127,
.div128 {
  top: 288.68px;
  left: 46.06px;
  width: 217.14px;
  height: 17.72px;
}
.div128 {
  top: 295px;
  left: 463px;
}
.group-child96,
.group-child97 {
  position: absolute;
  box-sizing: border-box;
}
.group-child96 {
  top: 116.72px;
  left: 27.14px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-gray-700);
  width: 365.18px;
  height: 62.53px;
}
.group-child97 {
  top: 268px;
  left: 27px;
  width: 359px;
  height: 63px;
}
.group-child97,
.group-child98,
.group-child99 {
  border-radius: var(--br-base);
  border: 1px solid var(--color-gray-700);
}
.group-child98 {
  position: absolute;
  top: 271px;
  left: 440px;
  box-sizing: border-box;
  width: 359px;
  height: 63px;
}
.group-child99 {
  top: 432.44px;
  left: 27.52px;
  width: 790.35px;
  height: 128.65px;
}
.group-child100,
.group-child101,
.group-child99 {
  position: absolute;
  box-sizing: border-box;
}
.group-child100 {
  top: 116.72px;
  left: 439.21px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-gray-700);
  width: 365.18px;
  height: 62.53px;
}
.group-child101 {
  top: 498.7px;
  left: 27.46px;
  border-top: 1px solid var(--color-gray-700);
  width: 791.41px;
  height: 1px;
}
.image-63-icon1 {
  position: absolute;
  top: 449.17px;
  left: 41.13px;
  width: 309.25px;
  height: 31.27px;
  object-fit: cover;
}
.group-child102,
.vector-parent3 {
  position: absolute;
  left: 0;
  width: 834px;
}
.vector-parent3 {
  top: 0;
  height: 791px;
  font-size: var(--font-size-mini);
}
.group-child102 {
  top: 55.61px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  height: 606.74px;
}
.group-child103,
.nhp-thng-tin {
  position: absolute;
  top: 13.28px;
  height: 31.54px;
}
.nhp-thng-tin {
  left: 13.28px;
  display: inline-block;
  width: 176.48px;
}
.group-child103 {
  left: 765.69px;
  background-color: var(--color-white);
  width: 51.24px;
}
.group-child104,
.group-child105,
.line-icon {
  position: absolute;
  top: 12.48px;
  left: 765.69px;
  width: 37.31px;
  height: 32.64px;
}
.group-child104,
.group-child105 {
  left: 767.61px;
}
.group-child105 {
  top: 578.52px;
  left: 28.46px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 777.39px;
  height: 62.67px;
}
.group-child106 {
  position: absolute;
  top: 578.52px;
  left: 27.52px;
  background-color: var(--color-gainsboro-100);
  width: 235.3px;
  height: 62.25px;
}
.chn-tp {
  position: absolute;
  top: 595.12px;
  left: 82.55px;
  display: inline-block;
  width: 126.19px;
  height: 30.71px;
}
.group-child107 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-blueviolet-300);
  width: 166.99px;
  height: 46.48px;
}
.xc-nhn {
  position: absolute;
  top: 11.62px;
  left: 35.11px;
  display: inline-block;
  width: 131.88px;
  height: 34.86px;
}
.rectangle-parent33 {
  top: 0;
  left: 0;
}
.group-child108,
.group-wrapper3,
.rectangle-parent33 {
  position: absolute;
  width: 166.99px;
  height: 46.48px;
}
.group-wrapper3 {
  top: 703.85px;
  left: 631.91px;
  cursor: pointer;
  color: var(--color-white);
}
.group-child108 {
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-300);
}
.ng {
  position: absolute;
  top: 9.13px;
  left: 55.03px;
  display: inline-block;
  width: 141.37px;
  height: 33.2px;
}
.group-parent7 {
  position: absolute;
  top: 703.85px;
  left: 435.5px;
  width: 196.4px;
  height: 46.48px;
  cursor: pointer;
  color: var(--color-white);
}
.group-parent6 {
  position: absolute;
  top: 83px;
  left: 453px;
  width: 834px;
  height: 791px;
  font-size: var(--font-size-6xl);
}
.image-84-icon {
  position: absolute;
  top: 4px;
  left: 331px;
  width: 59px;
  height: 82px;
  object-fit: cover;
}
.group-child109 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-goldenrod);
  width: 305px;
  height: 1024px;
}
.qun-l-hng-container12,
.qun-l-xut-container12,
.trang-ch26 {
  position: absolute;
  top: 33.03px;
  left: 131.89px;
  display: inline-block;
  width: 159.02px;
  height: 15.18px;
  cursor: pointer;
}
.qun-l-hng-container12,
.qun-l-xut-container12 {
  top: 72.31px;
  width: 157.98px;
  height: 20.53px;
}
.qun-l-xut-container12 {
  top: 160.7px;
  left: 132.92px;
  color: var(--color-white);
  height: 19.64px;
}
.qun-l-loi-container12,
.qun-l-nh10,
.qun-l-nhp13,
.qun-l-ti14,
.thng-k15 {
  position: absolute;
  top: 204.44px;
  left: 132.92px;
  display: inline-block;
  width: 157.98px;
  height: 15.18px;
  cursor: pointer;
}
.qun-l-loi-container12,
.qun-l-nh10,
.qun-l-ti14,
.thng-k15 {
  top: 243.72px;
}
.qun-l-loi-container12,
.qun-l-ti14,
.thng-k15 {
  top: 283.01px;
  left: 133.95px;
}
.qun-l-loi-container12,
.qun-l-ti14 {
  top: 322.29px;
  height: 16.07px;
}
.qun-l-loi-container12 {
  top: 116.95px;
  left: 131.89px;
  width: 137.04px;
  height: 16.96px;
}
.rectangle-parent34 {
  position: absolute;
  top: -5px;
  left: 0;
  width: 305px;
  height: 1024px;
  font-size: var(--font-size-xs);
}
.qun-l-xut-kho-export {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
