.qun-l-xut-kho-xem-chi-tit-child {
  position: absolute;
  top: 32px;
  left: 292px;
  width: 1148px;
  height: 1000px;
}
.qun-l-xut-kho-xem-chi-tit-item,
.qun-l-xut14 {
  position: absolute;
  top: 0;
  left: 2300px;
  width: 256px;
  height: 601px;
}
.qun-l-xut14 {
  top: 45px;
  left: 393px;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue);
  display: inline-block;
  width: 228px;
  height: 36px;
}
.div129,
.px002,
.qun-l-xut15,
.trang-ch27 {
  position: absolute;
  top: 76px;
  display: inline-block;
  height: 17px;
}
.trang-ch27 {
  left: 381px;
  width: 98px;
}
.div129,
.px002,
.qun-l-xut15 {
  width: 147px;
}
.qun-l-xut15 {
  left: 479px;
  cursor: pointer;
}
.div129,
.px002 {
  left: 636px;
}
.div129 {
  left: 450px;
  text-align: center;
  width: 24px;
  height: 22px;
}
.qun-l-xut-kho-xem-chi-tit-inner {
  position: absolute;
  top: 40px;
  left: 1612px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-200);
  width: 163px;
  height: 60px;
}
.image-56-icon3 {
  position: absolute;
  top: 48px;
  left: 1620px;
  width: 38px;
  height: 43px;
  object-fit: cover;
}
.import2 {
  position: absolute;
  top: 59px;
  left: 1683px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  display: inline-block;
  width: 70px;
  height: 17px;
}
.qun-l-xut-kho-xem-chi-tit-child1 {
  position: absolute;
  top: 40px;
  left: 1791px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-200);
  width: 216px;
  height: 60px;
}
.nhp-kho2 {
  top: 59px;
  left: 1845px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  width: 166px;
  height: 17px;
}
.b10,
.hnh-ng6,
.nhp-kho2,
.showing-1-to5 {
  position: absolute;
  display: inline-block;
}
.b10 {
  top: 49px;
  left: 1798px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  text-align: center;
  width: 47px;
  height: 48px;
}
.hnh-ng6,
.showing-1-to5 {
  top: 600px;
  left: 1700px;
  font-size: var(--font-size-base);
  width: 278px;
  height: 23px;
}
.hnh-ng6 {
  top: 379px;
  font-size: var(--font-size-mid);
  width: 116px;
  height: 17px;
}
.image-1-icon5 {
  position: absolute;
  top: 6px;
  left: 2007px;
  width: 29px;
  height: 26px;
  object-fit: cover;
}
.group-child110 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue-200);
  width: 183px;
  height: 51px;
}
.image-45-icon1,
.xem2 {
  position: absolute;
  top: 9px;
}
.xem2 {
  left: 72px;
  display: inline-block;
  width: 111px;
  height: 31px;
}
.image-45-icon1 {
  left: 6px;
  width: 55px;
  height: 33px;
  object-fit: cover;
}
.rectangle-parent35 {
  position: absolute;
  top: 492px;
  left: 1783px;
  width: 183px;
  height: 51px;
  font-size: var(--font-size-6xl);
}
.image-1-icon6 {
  position: absolute;
  top: 6px;
  left: 1401px;
  width: 29px;
  height: 26px;
  object-fit: cover;
}
.group-child111,
.group-child112 {
  position: absolute;
  left: 0;
  width: 1135.86px;
}
.group-child111 {
  top: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  height: 622px;
}
.group-child112 {
  top: 177.92px;
  background-color: var(--color-gainsboro-100);
  height: 85.29px;
}
.div130,
.div131,
.div132,
.div133,
.stt6 {
  position: absolute;
  top: 208.8px;
  left: 22.44px;
  display: inline-block;
  width: 106.85px;
  height: 26.86px;
}
.div130,
.div131,
.div132,
.div133 {
  top: 295.56px;
  left: 775.76px;
}
.div131,
.div132,
.div133 {
  top: 297.03px;
  left: 613.35px;
}
.div132,
.div133 {
  left: 437.03px;
  height: 32.03px;
}
.div133 {
  top: 295.56px;
  left: 274.62px;
  height: 26.86px;
}
.div134,
.div135,
.gi-xut,
.hnh-ng7,
.m-hng-ha1,
.s-lng4,
.thnh-tin3,
.tn-hng-ha1 {
  position: absolute;
  top: 297.03px;
  left: 139.98px;
  display: inline-block;
  width: 106.85px;
  height: 26.86px;
}
.div135,
.gi-xut,
.hnh-ng7,
.m-hng-ha1,
.s-lng4,
.thnh-tin3,
.tn-hng-ha1 {
  left: 27.78px;
}
.gi-xut,
.hnh-ng7,
.m-hng-ha1,
.s-lng4,
.thnh-tin3,
.tn-hng-ha1 {
  top: 200.45px;
  left: 999.09px;
}
.gi-xut,
.m-hng-ha1,
.s-lng4,
.thnh-tin3,
.tn-hng-ha1 {
  top: 208.8px;
  left: 790.72px;
}
.gi-xut,
.m-hng-ha1,
.s-lng4,
.tn-hng-ha1 {
  left: 600.52px;
}
.m-hng-ha1,
.s-lng4,
.tn-hng-ha1 {
  top: 207.33px;
  left: 445.58px;
}
.m-hng-ha1,
.tn-hng-ha1 {
  left: 261.79px;
}
.m-hng-ha1 {
  left: 106.85px;
}
.group-child113 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue-200);
  width: 104.72px;
  height: 42.4px;
}
.xem3 {
  position: absolute;
  top: 7.35px;
  left: 47.02px;
  display: inline-block;
  width: 57.7px;
  height: 26.47px;
}
.image-45-icon2 {
  position: absolute;
  top: 7.48px;
  left: 3.43px;
  width: 31.47px;
  height: 27.44px;
  object-fit: cover;
}
.rectangle-parent37 {
  position: absolute;
  top: 289.68px;
  left: 999.09px;
  width: 104.72px;
  height: 42.4px;
  font-size: var(--font-size-lg);
}
.chi-tit4 {
  margin: 0;
  font-size: var(--font-size-xl);
}
.tn-ngi-nhp {
  margin: 0;
}
.chi-tit-tn-container {
  position: absolute;
  top: 50.63px;
  left: 22.44px;
  display: inline-block;
  width: 191.27px;
  height: 136.39px;
  font-size: var(--font-size-smi);
}
.ngy-xut-13052023 {
  margin: 0;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
}
.m-phiu-xutlpn001-container {
  position: absolute;
  top: 65.09px;
  left: 599.45px;
  text-align: right;
  display: inline-block;
  width: 516.11px;
  height: 92.99px;
  font-size: var(--font-size-6xl);
}
.group-child114,
.rectangle-parent36 {
  position: absolute;
  top: 0;
  left: 2.14px;
  width: 1135.86px;
  height: 622px;
}
.group-child114 {
  top: 177.92px;
  left: 0;
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 1138px;
  height: 207.33px;
}
.div136,
.group-parent8 {
  position: absolute;
  top: 203px;
  left: 292px;
  width: 1138px;
  height: 622px;
}
.div136 {
  top: 75px;
  left: 612px;
  text-align: center;
  display: inline-block;
  width: 14px;
  height: 23px;
}
.image-85-icon {
  position: absolute;
  top: 16px;
  left: 309px;
  width: 59px;
  height: 82px;
  object-fit: cover;
}
.group-child115 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-goldenrod);
  width: 296px;
  height: 1024px;
}
.qun-l-hng-container13,
.qun-l-xut-container13,
.trang-ch28 {
  position: absolute;
  top: 33.03px;
  left: 128px;
  display: inline-block;
  width: 154.33px;
  height: 15.18px;
  cursor: pointer;
}
.qun-l-hng-container13,
.qun-l-xut-container13 {
  top: 72.31px;
  width: 153.32px;
  height: 20.53px;
}
.qun-l-xut-container13 {
  top: 160.7px;
  left: 129px;
  color: var(--color-white);
  height: 19.64px;
}
.qun-l-loi-container13,
.qun-l-nh11,
.qun-l-nhp14,
.qun-l-ti15,
.thng-k16 {
  position: absolute;
  top: 204.44px;
  left: 129px;
  display: inline-block;
  width: 153.32px;
  height: 15.18px;
  cursor: pointer;
}
.qun-l-loi-container13,
.qun-l-nh11,
.qun-l-ti15,
.thng-k16 {
  top: 243.72px;
}
.qun-l-loi-container13,
.qun-l-ti15,
.thng-k16 {
  top: 283.01px;
  left: 130px;
}
.qun-l-loi-container13,
.qun-l-ti15 {
  top: 322.29px;
  height: 16.07px;
}
.qun-l-loi-container13 {
  top: 116.95px;
  left: 128px;
  width: 133px;
  height: 16.96px;
}
.rectangle-parent38 {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 1024px;
  font-size: var(--font-size-xs);
}
.qun-l-xut-kho-xem-chi-tit {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
