.group-child31,
.group-child32 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.group-child31 {
  position: absolute;
  width: 1640.22px;
  height: 987px;
}
.group-child32 {
  border-radius: var(--br-xl);
}
.group-child32,
.group-child33,
.rectangle-parent9,
.thng-tin {
  position: absolute;
  width: 677.56px;
  height: 424.06px;
}
.group-child33 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
}
.rectangle-parent9,
.thng-tin {
  top: 142.59px;
  left: 880.28px;
}
.thng-tin {
  top: 12.96px;
  left: 106.45px;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue);
  display: inline-block;
  width: 176.8px;
  height: 32.41px;
}
.div50,
.div51,
.qun-l-kho,
.tn-sn-phm,
.trang-ch10 {
  position: absolute;
  top: 53.7px;
  left: 106.45px;
  display: inline-block;
  width: 90.71px;
  height: 14.81px;
}
.div50,
.div51,
.qun-l-kho,
.tn-sn-phm {
  left: 204.56px;
  width: 91.64px;
}
.div50,
.div51,
.tn-sn-phm {
  top: 54px;
  left: 308.22px;
  width: 136px;
  height: 15px;
}
.div50,
.div51 {
  top: 53.7px;
  left: 184.2px;
  text-align: center;
  width: 10.18px;
  height: 19.44px;
}
.div51 {
  left: 290.65px;
}
.group-child34 {
  position: absolute;
  top: 142.59px;
  left: 208.27px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  width: 555.38px;
  height: 555.53px;
}
.chi-tit {
  position: absolute;
  top: 167.59px;
  left: 912.67px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  width: 90.71px;
  height: 37.96px;
}
.barcode,
.loi-hng-ha,
.m-t,
.n-v,
.tng-gi-tr1 {
  position: absolute;
  top: 502.76px;
  left: 946px;
  display: inline-block;
  width: 90.71px;
  height: 14.81px;
}
.barcode,
.loi-hng-ha,
.n-v,
.tng-gi-tr1 {
  top: 456.46px;
  left: 945.07px;
}
.barcode,
.loi-hng-ha,
.n-v {
  top: 410.17px;
}
.loi-hng-ha,
.n-v {
  top: 363.88px;
}
.loi-hng-ha {
  top: 317.58px;
  width: 134.22px;
}
.div52,
.div53,
.div54,
.div55,
.div56,
.div57,
.div58,
.m-hng-ha,
.tn-hng-ha {
  position: absolute;
  top: 271.29px;
  left: 945.07px;
  display: inline-block;
  width: 90.71px;
  height: 14.81px;
}
.div52,
.div53,
.div54,
.div55,
.div56,
.div57,
.div58,
.m-hng-ha {
  top: 224.99px;
}
.div52,
.div53,
.div54,
.div55,
.div56,
.div57,
.div58 {
  left: 1208.88px;
}
.div53,
.div54,
.div55,
.div56,
.div57,
.div58 {
  top: 502.76px;
}
.div54,
.div55,
.div56,
.div57,
.div58 {
  top: 456.46px;
}
.div55,
.div56,
.div57,
.div58 {
  top: 410.17px;
}
.div56,
.div57,
.div58 {
  top: 363.88px;
}
.div57,
.div58 {
  top: 317.58px;
}
.div58 {
  top: 271.29px;
}
.image-57-icon2 {
  top: 0;
  border-radius: var(--br-mini);
  height: 82.4px;
  object-fit: cover;
}
.group-child35,
.image-57-icon2,
.image-75-icon {
  position: absolute;
  left: 0;
  width: 1501.38px;
}
.image-75-icon {
  top: 54.63px;
  height: 30.55px;
  object-fit: cover;
}
.group-child35 {
  top: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  height: 147.22px;
}
.div59,
.div60,
.div61,
.vn4,
.vn5 {
  position: absolute;
  top: 103.7px;
  left: 165.69px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 43.5px;
  height: 20.37px;
}
.div60,
.div61,
.vn4,
.vn5 {
  left: 315.64px;
  width: 148.1px;
}
.div60,
.div61,
.vn5 {
  left: 559.08px;
  width: 86.08px;
}
.div61,
.vn5 {
  left: 801.6px;
  width: 51.84px;
}
.vn5 {
  top: 97.22px;
  left: 1200.54px;
  width: 94.41px;
}
.group-child36 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-honeydew);
  width: 117.21px;
  height: 25px;
}
.cn-ngy {
  position: absolute;
  top: 3.7px;
  left: 11.34px;
  display: inline-block;
  width: 96.42px;
  height: 17.59px;
}
.rectangle-parent10 {
  position: absolute;
  top: 97.22px;
  left: 992.28px;
  width: 117.21px;
  height: 25px;
  font-size: var(--font-size-mini);
  color: var(--color-mediumaquamarine);
}
.bo-qun-thng,
.hnh-ng,
.s-lng,
.stt1,
.thnh-tin {
  position: absolute;
  top: 13.89px;
  left: 20.36px;
  display: inline-block;
  width: 48.13px;
  height: 14.81px;
}
.bo-qun-thng,
.hnh-ng,
.s-lng,
.thnh-tin {
  left: 158.28px;
  width: 100.89px;
}
.bo-qun-thng,
.hnh-ng,
.thnh-tin {
  left: 1388.45px;
  width: 102.75px;
}
.bo-qun-thng,
.thnh-tin {
  left: 1197.77px;
  width: 99.97px;
}
.bo-qun-thng {
  left: 764.57px;
  width: 138.84px;
  height: 27.78px;
}
.gi-nhp,
.hn-s-dng {
  top: 13.89px;
  height: 14.81px;
}
.hn-s-dng {
  position: absolute;
  left: 999.68px;
  display: inline-block;
  width: 103.67px;
}
.gi-nhp {
  left: 348.96px;
  width: 101.82px;
}
.div62,
.gi-nhp,
.ngy-sn-xut {
  position: absolute;
  display: inline-block;
}
.ngy-sn-xut {
  top: 13.89px;
  left: 540.57px;
  width: 134.22px;
  height: 14.81px;
}
.div62 {
  left: 100.89px;
}
.div62,
.div63,
.div64 {
  top: 13.89px;
  font-size: var(--font-size-6xl);
  width: 24.99px;
  height: 32.41px;
}
.div63 {
  position: absolute;
  left: 291.57px;
  display: inline-block;
}
.div64 {
  left: 707.18px;
}
.div64,
.div65,
.div66 {
  position: absolute;
  display: inline-block;
}
.div65 {
  top: 13.89px;
  left: 935.81px;
  font-size: var(--font-size-6xl);
  width: 24.07px;
  height: 32.41px;
}
.div66 {
  left: 1142.23px;
  width: 23.14px;
}
.div66,
.div67,
.div68 {
  top: 13.89px;
  font-size: var(--font-size-6xl);
  height: 32.41px;
}
.div67 {
  position: absolute;
  left: 1330.13px;
  display: inline-block;
  width: 25.92px;
}
.div68 {
  left: 483.18px;
  width: 24.99px;
}
.div68,
.div69,
.div70 {
  position: absolute;
  display: inline-block;
}
.div69 {
  top: 114.81px;
  left: 1454.17px;
  font-size: var(--font-size-13xl);
  width: 23.15px;
  height: 24.07px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.div70 {
  top: 103.7px;
  left: 19.44px;
  font-size: var(--font-size-base);
  width: 14.81px;
  height: 20.37px;
}
.group-parent1,
.image-57-parent,
.line-7-stroke {
  position: absolute;
  top: 0;
  left: 0;
  width: 1501.38px;
  height: 147.22px;
}
.group-parent1,
.line-7-stroke {
  top: 55.98px;
  height: 1px;
}
.group-parent1 {
  top: 770.34px;
  left: 87.94px;
  height: 147.22px;
  font-size: var(--font-size-mid);
}
.group-child37,
.ng-nhp-inner,
.rectangle-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1640.22px;
  height: 987px;
}
.group-child37,
.ng-nhp-inner {
  left: 226.78px;
}
.group-child37 {
  left: 0;
  background-color: var(--color-goldenrod);
  width: 270.28px;
}
.trang-ch11 {
  position: absolute;
  top: 31.84px;
  left: 116.88px;
  display: inline-block;
  width: 140.92px;
  height: 14.63px;
  cursor: pointer;
}
.qun-l-hng3 {
  margin: 0;
}
.qun-l-hng-container3 {
  position: absolute;
  top: 69.7px;
  left: 116.88px;
  color: var(--color-dodgerblue-100);
  display: inline-block;
  width: 139.99px;
  height: 19.79px;
  cursor: pointer;
}
.qun-l-loi-container3,
.qun-l-nh3,
.qun-l-nhp3,
.qun-l-ti3,
.qun-l-xut-container3,
.thng-k6 {
  position: absolute;
  top: 154.89px;
  left: 117.79px;
  display: inline-block;
  width: 139.99px;
  height: 18.93px;
  cursor: pointer;
}
.qun-l-loi-container3,
.qun-l-nh3,
.qun-l-nhp3,
.qun-l-ti3,
.thng-k6 {
  top: 197.06px;
  height: 14.63px;
}
.qun-l-loi-container3,
.qun-l-nh3,
.qun-l-ti3,
.thng-k6 {
  top: 234.92px;
}
.qun-l-loi-container3,
.qun-l-ti3,
.thng-k6 {
  top: 272.78px;
  left: 118.7px;
}
.qun-l-loi-container3,
.qun-l-ti3 {
  top: 310.64px;
  height: 15.49px;
}
.qun-l-loi-container3 {
  top: 112.73px;
  left: 116.88px;
  width: 121.44px;
  height: 16.35px;
}
.rectangle-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 270.28px;
  height: 987px;
  font-size: var(--font-size-xs);
}
.image-101-icon {
  position: absolute;
  top: 4px;
  left: 276px;
  width: 59px;
  height: 82px;
  object-fit: cover;
}
.ng-nhp1 {
  background-color: var(--color-white);
  overflow: hidden;
}
.ng-nhp-wrapper,
.ng-nhp1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1867px;
  height: 987px;
}
.qun-l-hng-ha {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 987px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
