.qun-l-xut-kho-child {
  position: absolute;
  top: 48px;
  left: 292px;
  width: 1148px;
  height: 984px;
}
.qun-l-xut-kho-item,
.qun-l-xut20 {
  position: absolute;
  top: 0;
  left: 2300px;
  width: 256px;
  height: 601px;
}
.qun-l-xut20 {
  top: 45px;
  left: 422px;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue);
  display: inline-block;
  width: 228px;
  height: 36px;
}
.div142,
.qun-l-xut21,
.trang-ch31 {
  position: absolute;
  top: 76px;
  left: 425px;
  display: inline-block;
  width: 98px;
  height: 17px;
}
.div142,
.qun-l-xut21 {
  left: 527px;
  width: 147px;
}
.div142 {
  left: 498px;
  text-align: center;
  width: 24px;
  height: 22px;
}
.qun-l-xut-kho-inner {
  position: absolute;
  top: 40px;
  left: 1612px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-200);
  width: 163px;
  height: 60px;
}
.image-56-icon5 {
  position: absolute;
  top: 48px;
  left: 1620px;
  width: 38px;
  height: 43px;
  object-fit: cover;
}
.import3 {
  position: absolute;
  top: 59px;
  left: 1683px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  display: inline-block;
  width: 70px;
  height: 17px;
}
.qun-l-xut-kho-child1 {
  position: absolute;
  top: 40px;
  left: 1791px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-200);
  width: 216px;
  height: 60px;
}
.nhp-kho3 {
  top: 59px;
  left: 1845px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  width: 166px;
  height: 17px;
}
.b15,
.hnh-ng9,
.nhp-kho3,
.showing-1-to6 {
  position: absolute;
  display: inline-block;
}
.b15 {
  top: 49px;
  left: 1798px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  text-align: center;
  width: 47px;
  height: 48px;
}
.hnh-ng9,
.showing-1-to6 {
  top: 600px;
  left: 1700px;
  font-size: var(--font-size-base);
  width: 278px;
  height: 23px;
}
.hnh-ng9 {
  top: 379px;
  font-size: var(--font-size-mid);
  width: 116px;
  height: 17px;
}
.image-1-icon8 {
  position: absolute;
  top: 6px;
  left: 2007px;
  width: 29px;
  height: 26px;
  object-fit: cover;
}
.group-child136 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue-200);
  width: 183px;
  height: 51px;
}
.image-45-icon3,
.xem4 {
  position: absolute;
  top: 9px;
}
.xem4 {
  left: 72px;
  display: inline-block;
  width: 111px;
  height: 31px;
}
.image-45-icon3 {
  left: 6px;
  width: 55px;
  height: 33px;
  object-fit: cover;
}
.rectangle-parent43 {
  position: absolute;
  top: 492px;
  left: 1783px;
  width: 183px;
  height: 51px;
  font-size: var(--font-size-6xl);
}
.group-child137 {
  top: 0;
  left: -0.3px;
  background-color: var(--color-white);
  border-right: 0.3px solid var(--color-gray-100);
  border-bottom: 0.3px solid var(--color-gray-100);
  border-left: 0.3px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 1050.6px;
  height: 265.3px;
}
.group-child137,
.group-child138,
.group-child139 {
  position: absolute;
  border-radius: var(--br-8xs);
}
.group-child138 {
  top: 195.75px;
  left: 1px;
  width: 1050px;
  height: 1.5px;
}
.group-child139 {
  right: 0.7px;
  bottom: 156.7px;
  background-color: var(--color-whitesmoke-100);
  border-right: 0.3px solid var(--color-dimgray-100);
  border-bottom: 0.3px solid var(--color-dimgray-100);
  border-left: 0.3px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 1050.6px;
  height: 40.3px;
}
.group-wrapper5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1051px;
  height: 265px;
}
.group-child140,
.group-child141 {
  position: absolute;
  top: 22.7px;
  left: 24.7px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 0.3px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 160.6px;
  height: 30.6px;
}
.group-child141 {
  left: 958.7px;
  width: 60.6px;
}
.div143,
.search6 {
  font-size: var(--font-size-mini);
}
.search6 {
  position: absolute;
  top: 29px;
  left: 39px;
  display: inline-block;
  width: 71px;
  height: 14px;
}
.div143 {
  top: 31px;
  left: 970px;
  width: 19px;
}
.b16,
.div143,
.m-phiu,
.per-page1,
.pn0012 {
  position: absolute;
  display: inline-block;
  height: 14px;
}
.per-page1 {
  top: 31px;
  left: 886px;
  font-size: var(--font-size-mini);
  width: 71px;
}
.b16,
.m-phiu,
.pn0012 {
  top: 80px;
  left: 245px;
  width: 75px;
}
.b16,
.pn0012 {
  top: 145px;
  width: 47px;
}
.b16 {
  top: 146px;
  left: 735px;
  width: 83px;
}
.admingmailcom1,
.hnh-ng10,
.ngi-nhp,
.ngy-xut,
.showing-1-to7,
.stt7 {
  position: absolute;
  top: 221px;
  left: 873px;
  display: inline-block;
  width: 168px;
  height: 14px;
}
.admingmailcom1,
.hnh-ng10,
.ngi-nhp,
.ngy-xut,
.stt7 {
  top: 146px;
  left: 462px;
  width: 113px;
}
.hnh-ng10,
.ngi-nhp,
.ngy-xut,
.stt7 {
  top: 80px;
  left: 475px;
  width: 100px;
}
.hnh-ng10,
.ngy-xut,
.stt7 {
  left: 735px;
  width: 72px;
}
.hnh-ng10,
.stt7 {
  left: 945px;
  width: 75px;
}
.stt7 {
  left: 25px;
  width: 24px;
}
.p4 {
  margin: 0;
}
.b17 {
  position: absolute;
  top: 146px;
  left: 34px;
  display: inline-block;
  width: 10px;
  height: 14px;
}
.image-26-icon2 {
  position: absolute;
  top: 23px;
  left: 155px;
  border-radius: var(--br-xs);
  width: 30px;
  height: 24px;
  object-fit: cover;
}
.group-parent12 {
  position: absolute;
  top: 278px;
  left: 334px;
  width: 1051px;
  height: 265px;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-200);
}
.image-1-icon9 {
  position: absolute;
  top: 6px;
  left: 1401px;
  width: 29px;
  height: 26px;
  object-fit: cover;
}
.group-child142 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-dodgerblue-200);
  width: 114px;
  height: 37px;
}
.xem5 {
  position: absolute;
  top: 11px;
  left: 44px;
  display: inline-block;
  width: 69.15px;
  height: 22.49px;
}
.image-45-icon4 {
  position: absolute;
  top: 6.53px;
  left: 3.74px;
  border-radius: var(--br-7xs);
  width: 34.26px;
  height: 23.94px;
  object-fit: cover;
}
.rectangle-parent45 {
  position: absolute;
  top: 413px;
  left: 1257px;
  width: 114px;
  height: 37px;
  cursor: pointer;
  font-size: var(--font-size-base);
}
.image-23-icon1 {
  position: absolute;
  top: 309px;
  left: 1323px;
  width: 22px;
  height: 16px;
  object-fit: cover;
}
.qun-l-xut-kho-child2 {
  position: absolute;
  top: 140px;
  left: 1171px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-200);
  width: 216px;
  height: 60px;
  cursor: pointer;
}
.b18,
.xut-kho4 {
  position: absolute;
  top: 165px;
  left: 1246px;
  color: var(--color-white);
  display: inline-block;
  width: 166px;
  height: 17px;
}
.b18 {
  top: 152px;
  left: 1197px;
  font-size: var(--font-size-13xl);
  text-align: center;
  width: 47px;
  height: 48px;
}
.image-99-icon {
  position: absolute;
  top: 18px;
  left: 324px;
  width: 59px;
  height: 82px;
  object-fit: cover;
}
.group-child143 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-goldenrod);
  width: 292px;
  height: 1032px;
}
.qun-l-hng-container15,
.qun-l-xut-container15,
.trang-ch32 {
  position: absolute;
  top: 33.29px;
  left: 126.27px;
  display: inline-block;
  width: 152.25px;
  height: 15.3px;
  cursor: pointer;
}
.qun-l-hng-container15,
.qun-l-xut-container15 {
  top: 72.88px;
  width: 151.24px;
  height: 20.69px;
}
.qun-l-xut-container15 {
  top: 161.95px;
  left: 127.26px;
  color: var(--color-white);
  height: 19.79px;
}
.qun-l-loi-container15,
.qun-l-nh13,
.qun-l-nhp16,
.qun-l-ti17,
.thng-k18 {
  position: absolute;
  top: 206.04px;
  left: 127.26px;
  display: inline-block;
  width: 151.24px;
  height: 15.3px;
  cursor: pointer;
}
.qun-l-loi-container15,
.qun-l-nh13,
.qun-l-ti17,
.thng-k18 {
  top: 245.63px;
}
.qun-l-loi-container15,
.qun-l-ti17,
.thng-k18 {
  top: 285.22px;
  left: 128.24px;
}
.qun-l-loi-container15,
.qun-l-ti17 {
  top: 324.81px;
  height: 16.2px;
}
.qun-l-loi-container15 {
  top: 117.87px;
  left: 126.27px;
  width: 131.2px;
  height: 17.1px;
}
.rectangle-parent46 {
  position: absolute;
  top: 0;
  left: 0;
  width: 292px;
  height: 1032px;
  font-size: var(--font-size-xs);
}
.qun-l-xut-kho {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
