.group-child12,
.group-child13 {
  position: absolute;
  top: 97.14px;
  left: 678.44px;
  width: 712.66px;
  height: 563.08px;
}
.group-child13 {
  top: 0;
  left: 331.22px;
  width: 1931.78px;
  height: 1299px;
}
.div34,
.group-child14 {
  position: absolute;
  display: none;
}
.div34 {
  top: 771px;
  left: 1130.98px;
  font-size: var(--font-size-16xl);
  line-height: 60px;
  width: 25.16px;
}
.group-child14 {
  top: 782px;
  left: 1115.25px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  width: 42.97px;
  height: 38px;
}
.group-child15 {
  display: none;
}
.group-child15,
.group-child16,
.group-child17 {
  position: absolute;
  top: 14px;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  width: 42.97px;
  height: 38px;
}
.group-child17 {
  left: 85.95px;
  width: 61.84px;
}
.div35,
.div36 {
  position: absolute;
  top: 3px;
  left: 15.72px;
  line-height: 60px;
  display: inline-block;
  width: 12.58px;
}
.div36 {
  top: 0;
  left: 98.53px;
  font-size: var(--font-size-16xl);
  width: 49.26px;
}
.rectangle-parent3 {
  position: absolute;
  top: 768px;
  left: 1211.69px;
  width: 147.79px;
  height: 63px;
  font-size: var(--font-size-5xl);
}
.sp-xp {
  position: absolute;
  top: 321px;
  left: 1796.56px;
  display: inline-block;
  width: 174.78px;
}
.group-child18 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 181.24px;
  height: 64.19px;
}
.group-child19,
.rectangle-wrapper {
  position: absolute;
  top: 373px;
  left: 1796.56px;
  width: 179.24px;
  height: 62.19px;
}
.group-child19 {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-blueviolet-100);
  width: 84.9px;
  height: 62px;
}
.lc {
  position: absolute;
  top: 20px;
  left: 30.4px;
  display: inline-block;
  width: 51.5px;
  height: 37.69px;
}
.rectangle-parent4 {
  position: absolute;
  top: 372px;
  left: 1654.01px;
  width: 84.9px;
  height: 62px;
}
.group-child21,
.rectangle-frame {
  position: absolute;
  top: 372px;
  left: 1040.83px;
  width: 179.24px;
  height: 62.19px;
}
.group-child21 {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-silver);
  width: 84.9px;
  height: 62px;
}
.n {
  position: absolute;
  top: 20px;
  left: 26.2px;
  display: inline-block;
  width: 51.5px;
  height: 37.69px;
}
.rectangle-parent5,
.rectangle-wrapper1,
.t {
  position: absolute;
  top: 372px;
  left: 1220.07px;
  width: 84.9px;
  height: 62px;
}
.rectangle-wrapper1,
.t {
  left: 1304.97px;
  width: 179.24px;
  height: 62.19px;
}
.t {
  top: 20px;
  left: 27.25px;
  display: inline-block;
  width: 51.5px;
  height: 37.69px;
}
.rectangle-parent6,
.t1,
.t2 {
  position: absolute;
  top: 372px;
  left: 955.93px;
  width: 84.9px;
  height: 62px;
}
.t1,
.t2 {
  top: 703px;
  left: 1796.56px;
  display: inline-block;
  width: 185.25px;
  height: 21.93px;
}
.t2 {
  top: 583px;
}
.group-child24 {
  background-color: var(--color-gray-500);
}
.group-child24,
.rectangle-wrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 324.79px;
  height: 1299.08px;
}
.div37,
.thng-k3,
.thng-k4,
.trang-ch8 {
  position: absolute;
  left: 422px;
  display: inline-block;
}
.thng-k3 {
  top: 28px;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue);
  width: 208.47px;
  height: 34.31px;
}
.div37,
.thng-k4,
.trang-ch8 {
  top: 62px;
  font-size: var(--font-size-mini);
  width: 82px;
  height: 17px;
}
.div37,
.thng-k4 {
  left: 526px;
  width: 71px;
  height: 16px;
}
.div37 {
  left: 502px;
  text-align: center;
  width: 14.79px;
  height: 21.29px;
}
.group-child25 {
  position: absolute;
  top: 78.22px;
  left: 1401.58px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-200);
  width: 405.12px;
  height: 59.15px;
}
.image-44-icon1,
.sa-thng-tin {
  position: absolute;
  top: 87px;
  height: 39.04px;
}
.sa-thng-tin {
  left: 1549.15px;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  display: inline-block;
  width: 326.76px;
}
.image-44-icon1 {
  left: 1438.21px;
  width: 57.66px;
  object-fit: cover;
}
.div38,
.div39,
.div40,
.lamborghini,
.sp001,
.t3 {
  position: absolute;
  top: 579px;
  left: 419px;
  display: inline-block;
  width: 16.75px;
  height: 21.93px;
}
.div39,
.div40,
.lamborghini,
.sp001,
.t3 {
  top: 583px;
  left: 591px;
  width: 174.78px;
}
.div39,
.div40,
.lamborghini,
.t3 {
  left: 787px;
}
.div39,
.div40,
.t3 {
  top: 583.34px;
  left: 1183.09px;
  width: 62.8px;
}
.div40,
.t3 {
  top: 583px;
  left: 1391px;
}
.div40 {
  left: 1601px;
  width: 185.25px;
}
.image-57-icon1 {
  position: absolute;
  top: 474px;
  left: 374.2px;
  width: 1769.31px;
  height: 60px;
  object-fit: cover;
}
.group-child26 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 354.97px;
  height: 64.19px;
}
.rectangle-wrapper3 {
  position: absolute;
  top: 372px;
  left: 448.62px;
  width: 352.97px;
  height: 62.19px;
}
.li,
.m-hng,
.nhp,
.nhp1,
.stt,
.tn-hng,
.tng-gi-tr {
  position: absolute;
  top: 493.73px;
  left: 407.57px;
  font-size: var(--font-size-mid);
  display: inline-block;
  width: 120.36px;
  height: 16.21px;
}
.li,
.m-hng,
.nhp,
.nhp1,
.tn-hng,
.tng-gi-tr {
  left: 573.97px;
}
.li,
.nhp,
.nhp1,
.tn-hng,
.tng-gi-tr {
  left: 1796.39px;
  width: 121.4px;
}
.nhp,
.nhp1,
.tn-hng,
.tng-gi-tr {
  top: 497px;
  left: 1601px;
  width: 120.36px;
}
.nhp1,
.tn-hng,
.tng-gi-tr {
  top: 495px;
  left: 1169.76px;
  width: 121.4px;
}
.tn-hng,
.tng-gi-tr {
  top: 493.73px;
  left: 1357.87px;
}
.tn-hng {
  left: 787.48px;
}
.div41,
.div42,
.div43,
.div44,
.div45,
.div46 {
  position: absolute;
  top: 488.96px;
  left: 490.25px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  width: 29.3px;
  height: 34.32px;
}
.div42,
.div43,
.div44,
.div45,
.div46 {
  left: 703.75px;
  width: 30.35px;
}
.div43,
.div44,
.div45,
.div46 {
  left: 1274.14px;
}
.div44,
.div45,
.div46 {
  left: 1513.81px;
  width: 29.3px;
}
.div45,
.div46 {
  left: 1750.34px;
}
.div46 {
  left: 1137.04px;
}
.group-child27 {
  position: absolute;
  top: 240px;
  left: 354.33px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 1771.31px;
  height: 598px;
}
.tn-hng-ho {
  position: absolute;
  top: 321px;
  left: 448.62px;
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 357.43px;
  height: 22px;
}
.bugatti,
.div47,
.div48,
.div49,
.sp002,
.t4 {
  position: absolute;
  top: 699px;
  left: 419px;
  display: inline-block;
  width: 16.75px;
  height: 21.93px;
}
.bugatti,
.div48,
.div49,
.sp002,
.t4 {
  left: 591px;
  width: 174.78px;
}
.bugatti,
.div48,
.div49,
.t4 {
  left: 787px;
}
.div48,
.div49,
.t4 {
  top: 698.93px;
  left: 1183.09px;
  width: 62.8px;
}
.div49,
.t4 {
  top: 699px;
  left: 1395px;
}
.div49 {
  top: 696px;
  left: 1604px;
  width: 185.25px;
}
.group-child28,
.group-child29 {
  position: absolute;
  top: 650.29px;
  left: 383px;
  border-top: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 1782.29px;
  height: 1px;
}
.group-child29 {
  top: 764.32px;
}
.thi-gian {
  position: absolute;
  top: 325px;
  left: 956.98px;
  display: inline-block;
  width: 174.78px;
  height: 21.93px;
}
.group-child30,
.thng-k-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 2263px;
  height: 1299.08px;
}
.group-child30 {
  background-color: var(--color-goldenrod);
  width: 325px;
  height: 1299px;
}
.trang-ch9 {
  position: absolute;
  top: 52px;
  left: 78px;
  display: inline-block;
  width: 169.45px;
  height: 19.25px;
  cursor: pointer;
}
.qun-l-hng2 {
  margin: 0;
}
.qun-l-hng-container2 {
  position: absolute;
  top: 101.83px;
  left: 78px;
  display: inline-block;
  width: 168.34px;
  height: 26.05px;
  cursor: pointer;
}
.qun-l-nhp2 {
  top: 270px;
  left: 79px;
  height: 19.25px;
  cursor: pointer;
}
.qun-l-nh2,
.qun-l-nhp2,
.qun-l-ti2,
.thng-k5 {
  position: absolute;
  display: inline-block;
  width: 168.34px;
}
.qun-l-nh2 {
  top: 319.28px;
  left: 79.1px;
  height: 19.25px;
  cursor: pointer;
}
.qun-l-ti2,
.thng-k5 {
  left: 80.2px;
}
.thng-k5 {
  top: 369.11px;
  color: var(--color-white);
  height: 19.25px;
}
.qun-l-ti2 {
  top: 418.94px;
  height: 20.39px;
}
.qun-l-loi-container2,
.qun-l-xut-container2 {
  position: absolute;
  display: inline-block;
  width: 146.03px;
  height: 21.52px;
}
.qun-l-loi-container2 {
  top: 158.46px;
  left: 78px;
  cursor: pointer;
}
.qun-l-xut-container2 {
  top: 214px;
  left: 80px;
}
.rectangle-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 325px;
  height: 1299px;
  font-size: var(--font-size-xs);
}
.image-96-icon {
  position: absolute;
  top: 26px;
  left: 331px;
  width: 59px;
  height: 82px;
  object-fit: cover;
}
.thng-k2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1299.08px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
